<?xml version="1.0" encoding="UTF-8"?>

<phpunit color="true">
    <testsuites>
        <testsuite name="Proem Framework Test Suite">
            <directory>./</directory>
            <directory>../lib/Proem/*/Tests/</directory>
            <directory>../lib/Proem/Util/*/Tests/</directory>
        </testsuite>
    </testsuites>
    <listeners>
        <listener class="\Mockery\Adapter\Phpunit\TestListener" file="vendor/mockery/mockery/library/Mockery/Adapter/Phpunit/TestListener.php"></listener>
    </listeners>
    <filter>
        <whitelist>
            <directory>../lib/Proem/</directory>
            <exclude>
                <directory>./</directory>
                <directory>../lib/Proem/*/Tests/</directory>
                <directory>../lib/Proem/Util/*/Tests/</directory>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="./log/report" charset="UTF-8" yui="true" highlight="true" lowUpperBound="50" highLowerBound="80"/>
	    <log type="testdox-html" target="./log/testdox.html" />
    </logging>
</phpunit>
