{% extends 'docs_layout.twig' %}
{% block content %}
<div class="well">
  <h2>The Service Component</h2>
  <p>
    There is a lot of talk in the PHP community these days regarding <a href="http://en.wikipedia.org/wiki/Dependency_injection">dependency injection</a>. To
    explain it simply, dependency injection provides a means of injecting an objects dependencies into that object at runtime. Without some form of
    dependency injection you will see classes with there dependencies hard coded. Something like:
  </p>
  <pre class="prettyprint">
    class Foo
    {
        private $bar;

        public function __construct()
        {
            $this->bar = new Bar;
        }
    }
  </pre>
  <p>
    As you can imagine this leads to issues. What if you want to swap Bar for your own implementation? In the above example you would need to hack Foo.
  </p>
  <p>
    A better approach is to use dependency injection. In it's simplest form this is simply achieved by passing dependencies in as they are required.
  </p>
  <pre class="prettyprint">
    class Foo
    {
        private $bar;

        public function __construct(Bar $bar)
        {
            $this->bar = $bar;
        }
    }

    $bar = new MyBar;
    $foo = new Foo($bar);
  </pre>
</div>
<div class="well">
  <h3>How Proem addresses these issues</h3>
  <p>
    While that is all well and good when your working with a small code base, it can start to get pretty untidy as  your application or framework starts to get larger.
  </p>
  <p>
    The approach used by the Proem is what is referred to as <strong>Dependency Injection Containers</strong>, and that is what the <em>Service Component</em>
    is here to provide. Dependency injection containers are simply little objects responsible for configuring and creating other objects. The objects that
    they produce aren't even aware that they are being created via a container. In Proem, these containers are called <em>Service Assets</em> or more commonly just <em>Assets</em>.
    <em>Assets</em> themselves are managed by the <em>Service Asset Manager</em>. The <em>Service Asset Manager</em> is simply a <em>Registry</em> designed specifically to hold many containers.
  </p>
  <p>
    In Proem the <em>Service Asset Manager</em> as passed into (or injected into) many other objects as the framework's bootstrap execution flow is processed. This makes these <em>Assets</em>
    easy to overload and configure and also makes them available in the places you need them.
  </p>
  <div class="alert alert-info">
    <p>
      To be completely honest here, there are still currently many places in the framework that have hard coded dependencies baked in. At this current stage this is mainly due to the fact that there
      is no overall configuration layer available in Proem. Remember, Proem is still in very early pre-alpha stages.
    </p>
  </div>
</div>
<div class="well">
  <h3>Why?</h3>
  <p>
    The main motivation for using <em>containers</em> within an <em>Asset Manager</em> instead of simply using an ordinary <em>Registry</em> full of live objects is just that, with a normal <em>Registry</em>
    objects are usually <em>live, pre instantiated</em> objects. What if we never use the Foo asset? There is no point in having an instantiated Foo object kicking around if we don't need it. Instead,
    we have a lightweight <em>Asset</em> (container) that is capable of producing Foo if and when we need it. All we need store in the Service Manager is the rules needed to create <em>Foo</em>.
  </p>
</div>
<div class="well">
  <h3>How?</h3>
  <p>
    So, how is this done? While it might sound like a complicated process, it's actually quite simple. An <em>Asset</em> is an object that stores any parameters
    (including other dependencies) that our class needs so it can be instantiated into an object, it also provides a mechanism for actually instantiating that object.
  </p>
  <p>
    Storing the parameters is simple, they are just pushed onto an array as key => value pairs. The creation of our objects is left up to a simple Closure.
  </p>
</div>
<div class="well">
  <h3>A simple example</h3>
  <pre class="prettyprint">
    class Person
    {
        private $name;

        public function __construct($name = null)
        {
            $this->name = $name;
        }

        public function getName()
        {
            return $name;
        }
    }

    $asset = new \Proem\Service\Asset\Generic;
    $asset->set('Person', function() {
        return new Person;
    });

    $person = $asset->get();
  </pre>
  <p>
    The above example is trivial and doesn't really describe much benefit. Let's throw in some parameters. set() requires a string representing the class that
    this <em>Asset</em> will provide (including the full name space if need be), followed by a <em>Closure</em> which actually creates the object.
  </p>
  <pre class="prettyprint">
    $asset = new \Proem\Service\Asset\Generic;
    $asset->setParam('name', 'trq')
        ->set('Person', function() {
            return new Person;
        });

    echo $asset->get()->getName(); // 'trq'
  </pre>
</div>
<div class="well">
  <h3>Returning the same object on each invocation</h3>
  <p>
    The examples above all return a brand new object each time we retrieve an <em>Asset</em>, sometimes we want the same object returned again
    and again. We can do this by simply wrapping our Closure within the <em>single()</em> method.
  </p>
  <pre class="prettyprint">
    $asset->set('Foo', $asset->single(function() {
        return new Foo;
    }));
    $a = $asset->get();
    $b = $asset->get();
    $c = $asset->get();
  </pre>
  <p>
    In the above example $a, $b and $c are actually the same object.
  </p>
</div>
<div class="well">
  <h3>Making re-usable <em>Assets</em></h3>
  <p>
    Throughout this these examples we have been creating <em>Assets</em> on the fly using the <em>new</em> operator. If we need to re-use these
    <em>Assets</em> within different locations or <em>Asset Managers</em> we can actually make concrete classes of them.
  </p>
  <pre class="prettyprint">
    class FooAsset extends Proem\Service\Asset\Generic
    {
        public function __construct()
        {
            $this->set('Foo', function() {
                return new Foo;
            });
        }
    }
  </pre>
  <div class="alert alert-error">
    <p>As of 0.6.1 there exists a bug that will not allow you to use the <em>single()</em> method as described above when creating a reusable <em>Asset</em> like this.</p>
  </div>
</div>
<div class="well">
  <h3>Validating your Assets</h3>
  <p>
    I have already touched on the fact that each <em>Asset</em> needs to advertise what object it provides through the first argument to set().
    This value is actually used internally when you call get() to check that the <em>Asset</em> actually returns what it advertises.
  </p>
  <p>
    Advertising that your <em>Asset</em> returns something it doesn't:
  </p>
  <pre class="prettyprint">
    $asset->set('Foo', function() { return new Bar; });
  </pre>
  <p>
    will produce an error when you try and retrieve the object from the <em>Asset</em>. This mechanism allows us to trust that <em>Assets</em> actually provide what you expect.
  </p>
  <p>
    If need be, you can check what an <em>Asset</em> provides before attempting to use it:
  </p>
  <pre class="prettyprint">
    if ($asset->provides('Foo')) {
        $foo = $asset->get();
    }
  </pre>
</div>
<div class="well">
  <h3>Managing Assets</h3>
  <p>
    Ok, so your looking at these <em>Assets</em> (DI containers) and wondering what's the point in simply wrapping our object creation within another object? <em>Assets</em>
    don't really offer anything particularly useful on there own. They need to be managed, and this is what the <em>Service Manager</em> does.
  </p>
  <p>
    The service manager provides the functionality required to easily store <em>Assets</em> and there dependencies, while also providing a simple mechanism for retrieving them. In reality, the
    <em>Service Manager</em> is really just a key/value storage facility with a little bit of extra functionality added on top. Making use of this component is pretty simple.
  </p>
  <pre class="prettyprint">
    $bar = new Asset;
    $bar->set('Bar', function() {
        return new Bar;
    });

    $am = new Manager;
    $am->set('bar', $bar);
  </pre>
  <p>
    You can now easily retrieve the <em>Bar</em> object using <code>$am->get('bar');</code>.
  </p>
</div>
<div class="well">
  <h3>Dealing with Dependencies between Assets</h3>
  <p>
    The above example still doesn't describe a whole lot of benefit, but once you start requiring dependencies between <em>Assets</em> themselves. Let's have a look at something
    more useful. A mail component. Typically a Mail component requires at least two parts. A Transport object used to handle connection to a mail server, and an actual Mail object
    used to actually build an email. Normal usage might look something like:
  </p>
  <pre class="prettyprint">
    $transport = new Transport('smtp.foo.com', 'username', 'password'));
    $mailer = new Mail($transport);
  </pre>
  <p>
    Writing all that code every time we needed to send an email would be a pain. Not to mention the pain we would need to go through if we ever changed mail
    servers. A smart programmer would write a wrapper around it and then use that wrapper. This is exactly what an <em>Asset</em> is. When used in conjunction
    with the <em>Service Asset Manager</em> we can also set up any other <em>object</em> dependencies our object might have.
  </p>
  <pre class="prettyprint">
    $transport = new \Proem\Service\Asset\Generic;
    $transport
        ->setParams([
            'server'   => 'smtp.foo.com',
            'username' => 'username',
            'password' => 'password'
        ])->set('Transport', function($a) {
            $p = $a->getParams();
            return new Transport($p['server'], $p['username'], $p['password']));
        });

    $mail = new \Proem\Service\Asset\Generic;
    $mail->set('Mail', function($a, $am) {
        return new Mail($am->getAsset('transport'));
    });

    $man = new \Proem\Service\Manager;
    $man->set('transport', $transport);
    $man->set('mail', $mail);
  </pre>
  <div class="alert alert-info">
    Note the arguments being passed into the Closure. The first argument is always the current <em>Asset</em>, the second, argument is the <em>Service Asset Manager</em>.
  </div>
  <p>
    Now, to send an email we might use something like:
  </p>
  <pre class="prettyprint">
    $am->get('mail')->send('foo@foo.com');
  </pre>
</div>
<div class="well">
  <h3>Dependency overloading in Proem</h3>
  <p>
    The above examples have really just started to demonstrate <em>how</em> dependency injection works, still however, it might be hard to see it's overall benefits. So how
    does this all tie together in terms of a framework?
  </p>
  <p>
    When you <em>init</em> an application built on top of <em>Proem</em>, one of the first things to happen is a <em>Service manager</em> is created. This <em>Service Manager</em>
    is then passed around the entire framework having <em>Assets</em> loaded into it, configured and then latter used. One of the massive benefits of using the <em>Service Manager</em>
    to do this is it is very easy to override the <em>Assets</em> within the <em>Service Manager</em> with your own implementations. Of course, for the calling code to still work
    with your implementation your code will still need to implement the interface that it is expecting. Proem does however make this very easy is every class implements a well
    defined interface, and often there is a <em>Generic</em> abstract class that you can extend as a starting place.
  </p>
  <p>
    Componnents that can be configured / overloaded by listening to events will generally have this documented in a section called "Configuring Component" or "Overloading Component".
  </p>
</div>
{{ disqus('/docs/dev/services-component') }}
{% endblock %}
